.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px; 
}
.login-title {
  text-align: center;
  color: #007bff;
}

.login-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

.login-button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
}

.registration-link {
  text-align: center;
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}
