.navbar {
    background-color: #f8f9fa;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-right: 20px;
  }
  
  .navbar-toggler-icon {
    border: 2px solid #333;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .nav-link {
    font-size: 1rem;
    color: #333;
    margin-right: 15px;
    text-transform: capitalize;
  }
  
  .nav-link:hover {
    text-decoration: none;
    color: #007bff;
  }
  
  .navbar-toggler:hover {
    background-color: #f8f9fa;
  }
  
  .collapse.navbar-collapse.show {
    background-color: #f8f9fa;
  }
  